<a href="https://colab.research.google.com/github/mgmills93/AEM_Spring_2019/blob/master/SecureCommunities_FinalProject/FinalProject_SCValidation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
sc_arrests = pd.read_excel('https://raw.githubusercontent.com/mgmills93/AEM_Spring_2019/master/enforcement/Secure_Communities_2017_Deportations.xlsx', header=4)

In [8]:
sc_arrests['Year'] = pd.DatetimeIndex(sc_arrests['Departed Date']).year
#print(sc_arrests.sample(5))
sc_arrests.groupby('Year').count()

,State,County,Departed Date,Port Of Departure,Departed To Country,Case Status,Case Category,Processing Disposition Code,Final Order Date,Charge Code,...,Conviction Dt,Sentence Days Qty,Sentence Months Qty,Sentence Years Qty,Removal Case COL,Aggravated Felon Type,Book In Date,Book Out Date,Release Reason,Case ID
Year,,,,,,,,,,,,,,,,,,,,,
2014,16301,16301,16301,16301,16301,16301,16301,16284,15546,16126,...,15063,8010,6094,5496,15053,16297,15422,15422,15422,16301
2015,59242,59242,59243,59243,59243,59243,59243,59203,57126,58690,...,56511,28822,22153,19797,56464,58614,57339,57338,57338,59243
2016,58572,58572,58572,58572,58572,58572,58572,58542,56422,57945,...,54892,26181,20139,17945,54818,55205,56858,56857,56857,58572
2017,15486,15486,15486,15486,15486,15486,15486,15481,14788,15267,...,14101,6325,5187,4610,14080,14755,15130,15130,15130,15486

In [17]:
migration_related = ['Illegal Re-Entry (INA SEC.101(a)(43)(O), 8USC1326 only)', 'Illegal Entry (INA SEC.101(a)(43)(O), 8USC1325 only)']
#sc_arrests[(sc_arrests['Year'] == 2015) & sc_arrests['Most Serious Criminal Conviction'].isin(migration_related)].count()
sc_arrests[(sc_arrests['Year'] == 2015) & ~sc_arrests['Most Serious Criminal Conviction'].isin(migration_related)].count()

State                                    51464
County                                   51464
Departed Date                            51465
Port Of Departure                        51465
Departed To Country                      51465
Case Status                              51465
Case Category                            51465
Processing Disposition Code              51426
Final Order Date                         49380
Charge Code                              50932
Charge Section                           50932
Arrest Date                              51465
Gender                                   51465
Birth Country                            51367
Citizenship Country                      51461
Birth Date                               51448
Entry Status                             50760
Entry Date                               26650
Most Serious Criminal Conviction         48733
Most Serious Criminal Conviction Code    48733
Conviction Dt                            48733
Sentence Days Qty                        23379
Sentence Months Qty                      19986
Sentence Years Qty                       19030
Removal Case COL                         48693
Aggravated Felon Type                    51112
Book In Date                             49982
Book Out Date                            49981
Release Reason                           49981
Case ID                                  51465
Year                                     51465
dtype: int64

In [19]:
#sc_arrests[(sc_arrests['Year'] == 2016) & sc_arrests['Most Serious Criminal Conviction'].isin(migration_related)].count()
sc_arrests[(sc_arrests['Year'] == 2016) & ~sc_arrests['Most Serious Criminal Conviction'].isin(migration_related)].count()

State                                    51246
County                                   51246
Departed Date                            51246
Port Of Departure                        51246
Departed To Country                      51246
Case Status                              51246
Case Category                            51246
Processing Disposition Code              51218
Final Order Date                         49127
Charge Code                              50642
Charge Section                           50642
Arrest Date                              51246
Gender                                   51246
Birth Country                            51092
Citizenship Country                      51243
Birth Date                               51225
Entry Status                             50548
Entry Date                               25624
Most Serious Criminal Conviction         47566
Most Serious Criminal Conviction Code    47566
Conviction Dt                            47566
Sentence Days Qty                        21307
Sentence Months Qty                      18139
Sentence Years Qty                       17256
Removal Case COL                         47496
Aggravated Felon Type                    49373
Book In Date                             49823
Book Out Date                            49822
Release Reason                           49822
Case ID                                  51246
Year                                     51246
dtype: int64