<a href="https://colab.research.google.com/github/mgmills93/AEM_Spring_2019/blob/master/SecureCommunities_FinalProject/FinalProject_Nationality.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Question 2: What nationalities are being deported the most?
---
I will sort the entire 2015-2017 dataset to see what countries represented the highest populations of deported individuals through Secure Communities during this period.

In [0]:
import pandas as pd
import numpy as np
sc_arrests = pd.read_excel('https://raw.githubusercontent.com/mgmills93/AEM_Spring_2019/master/enforcement/Secure_Communities_2017_Deportations.xlsx', header=4)

def get_countries(sc_arrests):
  country_date = sc_arrests[["Citizenship Country", "Arrest Date"]]
  
  return country_date

In [79]:
def sum_countries(country_date):
  country_date =  sc_arrests[["Citizenship Country", "Arrest Date"]]
  country_sum = country_date.groupby('Citizenship Country').size().to_frame('Arrest Date').reset_index()
  
  return country_sum

sum_countries(country_date)

          Citizenship Country  Arrest Date
0                 AFGHANISTAN            9
1                     ALBANIA           28
2                     ALGERIA           11
3                      ANGOLA            6
4                    ANGUILLA            1
5             ANTIGUA-BARBUDA           17
6                   ARGENTINA           76
7                     ARMENIA           24
8                       ARUBA            1
9                   AUSTRALIA           20
10                    AUSTRIA            4
11                 AZERBAIJAN            5
12                    BAHAMAS          111
13                    BAHRAIN            2
14                 BANGLADESH           58
15                   BARBADOS           14
16                    BELARUS            5
17                    BELGIUM           12
18                     BELIZE           92
19                      BENIN            6
20                    BERMUDA            2
21                    BOLIVIA           49
22         BOSNIA-HERZEGOVINA           61
23                   BOTSWANA            1
24                     BRAZIL          431
25     BRITISH VIRGIN ISLANDS            4
26                   BULGARIA           25
27               BURKINA FASO            5
28                      BURMA            4
29                    BURUNDI            2
..                        ...          ...
159                 SWAZILAND            1
160                    SWEDEN           11
161               SWITZERLAND            4
162                     SYRIA            1
163                    TAIWAN           18
164                TAJIKISTAN            7
165                  TANZANIA           12
166                  THAILAND           31
167                      TOGO            6
168                     TONGA           19
169       TRINIDAD AND TOBAGO          107
170                   TUNISIA            9
171                    TURKEY           25
172              TURKMENISTAN            2
173  TURKS AND CAICOS ISLANDS            2
174                    UGANDA            4
175                   UKRAINE           59
176      UNITED ARAB EMIRATES            1
177            UNITED KINGDOM          186
178             UNITED STATES           12
179                   UNKNOWN           95
180                   URUGUAY           24
181                      USSR            2
182                UZBEKISTAN           17
183                 VENEZUELA           93
184                   VIETNAM           37
185                     YEMEN            6
186                YUGOSLAVIA           14
187                    ZAMBIA           12
188                  ZIMBABWE           12

[189 rows x 2 columns]

In [0]:
def top_5(country_sum):
  country_sort = country_sum.sort_values(by=['Arrest Date'], ascending=False)
  country_sort = country_sort.reset_index(drop=True)
  
  return country_sort

###Pipeline

In [0]:
#filter columns by country and arrest date
get_countries(sc_arrests)
#sum arrest totals by country
sum_countries(country_date)
#sort by top 5 arrest countries
top_5(country_sum)
#save sorted dataset
top_5(country_sum).to_csv("top5.csv")