<a href="https://colab.research.google.com/github/mgmills93/AEM_Spring_2019/blob/master/THA4/Take_Home_Assignment_4_Mary_Mills.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

jail_data = pd.read_csv('https://raw.githubusercontent.com/mgmills93/AEM_Spring_2019/master/THA4/final_ASJ15_set.csv')
pop_data = pd.read_csv('https://raw.githubusercontent.com/mgmills93/AEM_Spring_2019/master/THA4/ACS_15_5YR_B03001_with_ann_copy.csv', header=1)
sc_arrests = pd.read_excel('https://raw.githubusercontent.com/mgmills93/AEM_Spring_2019/master/enforcement/Secure_Communities_2017_Deportations.xlsx', header=4)

In [0]:
def filter_2015(sc_arrests):
  sc_arrests2015 = sc_arrests[sc_arrests['Departed Date'].isin(pd.date_range(start='2015-01-01', end='2015-12-31'))]
  
  return sc_arrests2015

In [0]:
sc_arrests2015 = filter_2015(sc_arrests)
def sum_arrests2015(sc_arrests2015):
  sum_arrests = sc_arrests2015.groupby('State').size().to_frame('Arrest_Number').reset_index()
  
  return sum_arrests

In [0]:
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY',}

In [0]:
def clean_pop(pop_data):
  pop_columns = pop_data[['Geography', 'Estimate; Total:', 'Estimate; Total: - Hispanic or Latino:']]
  pop_columns.rename(columns={'Geography':'State', 'Estimate; Total:':'Total_Pop', 'Estimate; Total: - Hispanic or Latino:':'Hisp_Pop'}, inplace=True)
  pop_columns['Percent_Hispanic'] = pop_columns['Hisp_Pop']/pop_columns['Total_Pop']*100
  pop_columns['State'] = pop_columns['State'].map(us_state_abbrev)
  
  return pop_columns

In [0]:
missing_states = [pd.Series(['Alaska', np.nan, np.nan, np.nan], index=cols_jail.columns), 
                  pd.Series(['Connecticut', np.nan, np.nan, np.nan], index=cols_jail.columns), 
                  pd.Series(['Delaware', np.nan, np.nan, np.nan], index=cols_jail.columns), 
                  pd.Series(['Hawaii', np.nan, np.nan, np.nan], index=cols_jail.columns),
                  pd.Series(['Rhode Island', np.nan, np.nan, np.nan], index=cols_jail.columns), 
                  pd.Series(['Vermont', np.nan, np.nan, np.nan], index=cols_jail.columns)]

def jail_fill(jail_data):
  cols_jail_total = jail_data.append(missing_states, ignore_index=True)
  cols_jail_total.mean()
  cols_jail_filled = cols_jail_total.fillna(cols_jail_total.mean())

  return cols_jail_filled

In [0]:
cols_jail_filled = jail_fill(jail_data)
def clean_jail(cols_jail_filled):
  final_jail = cols_jail_filled.drop(columns='Unnamed: 0')
  final_jail['Percent_NONCITZ'] = final_jail['NONCITZ']/final_jail['TOTPOP']*100
  final_jail.iloc[5, final_jail.columns.get_loc('State')] = "District of Columbia"
  final_jail.iloc[37, final_jail.columns.get_loc('State')] = "Tennessee"
  final_jail['State'] = final_jail['State'].map(us_state_abbrev)
  
  return final_jail

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [0]:
final_jail = clean_jail(cols_jail_filled)
final_pop = clean_pop(pop_data)

def pop_jail_merge(final_jail):
  pop_jail = final_jail.merge(final_pop, on='State', how='inner')
  
  return pop_jail

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [0]:
sum_arrests = sum_arrests2015(sc_arrests2015)
pop_jail = pop_jail_merge(final_jail)

def final_merge(sum_arrests):
  final_merge = sum_arrests.merge(pop_jail, on='State', how='inner')
  
  return final_merge

###Pipeline

In [170]:
#filter sc_arrests for only 2015 deportations
filter_2015(sc_arrests)
#group 2015 deportations by state
sum_arrests2015(sc_arrests2015)
#clean population data and add Percent_Hispanic
clean_pop(pop_data)
#add missing states to jail dataset and fill values with means
jail_fill(jail_data)
#clean jail data and add Percent_NONCITZ
clean_jail(cols_jail_filled)
#merge population and jail data
pop_jail_merge(final_jail)
#merge pop_jail with SC arrest dataset
final_merge(sum_arrests)
#save merged dataset
final_merge(sum_arrests).to_csv('final_tha4_set.csv')

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

,State,Arrest_Number,NONCITZ,Percent_NONCITZ,TOTPOP,Total_Pop,Hisp_Pop,Percent_Hispanic
0,AK,3,277.755556,2.393353,11605.288889,733375,47808,6.518902
1,AL,440,340.000000,5.432178,6259.000000,4830620,193492,4.005531
2,AR,350,88.000000,2.771654,3175.000000,2958208,203226,6.869902
3,AZ,4685,256.000000,2.388951,10716.000000,6641928,2014711,30.333226
4,CA,9827,1384.000000,1.882635,73514.000000,38421464,14750686,38.391785
5,CO,901,327.000000,3.702026,8833.000000,5278906,1112586,21.076071
6,CT,158,277.755556,2.393353,11605.288889,3593222,526508,14.652810
7,DC,63,53.000000,2.866414,1849.000000,647484,65803,10.162877
8,DE,75,277.755556,2.393353,11605.288889,926454,80706,8.711280
9,FL,1824,903.000000,1.914109,47176.000000,19645772,4660733,23.723848
10,GA,2004,544.000000,2.113360,25741.000000,10006693,915120,9.145079
11,HI,46,277.755556,2.393353,11605.288889,1406299,139251,9.901948
12,IA,199,85.000000,4.166667,2040.000000,3093526,168230,5.438131
13,ID,233,104.000000,2.745512,3788.000000,1616547,191314,11.834732
14,IL,894,331.000000,2.187128,15134.000000,12873761,2122841,16.489672
15,IN,487,121.000000,1.328065,9111.000000,6568645,421206,6.412373
16,KS,349,44.000000,1.338200,3288.000000,2892987,323218,11.172466
17,KY,325,224.000000,1.735089,12910.000000,4397353,143481,3.262895
18,LA,387,98.000000,0.450181,21769.000000,4625253,218263,4.718942
19,MA,330,417.000000,3.976731,10486.000000,6705586,707928,10.557288
20,MD,328,299.000000,3.079934,9708.000000,5930538,533671,8.998695
21,ME,3,4.000000,1.012658,395.000000,1329100,19447,1.463171
22,MI,444,239.000000,2.247931,10632.000000,9900571,467021,4.717112
23,MN,334,163.000000,4.059776,4015.000000,5419171,270984,5.000470
24,MO,240,59.000000,1.297844,4546.000000,6045448,233046,3.854900
25,MS,459,51.000000,0.714987,7133.000000,2988081,86507,2.895069
26,MT,10,4.000000,0.411946,971.000000,1014699,33622,3.313495
27,NC,982,277.000000,3.255759,8508.000000,9845333,869908,8.835740
28,ND,27,10.000000,1.096491,912.000000,721640,20569,2.850313
29,NH,39,95.000000,6.324900,1502.000000,1324201,42141,3.182372
30,NJ,430,626.000000,4.376704,14303.000000,8904413,1688008,18.956982
31,NM,1905,304.000000,12.773109,2380.000000,2084117,986972,47.356842
32,NV,557,263.000000,3.858002,6817.000000,2798636,770553,27.533163
33,NY,1092,381.000000,2.285132,16673.000000,19673174,3619658,18.398953
34,OH,523,207.000000,1.841801,11239.000000,11575977,390970,3.377426
35,OK,574,139.000000,2.260898,6148.000000,3849733,371459,9.648955
36,OR,357,82.000000,4.963680,1652.000000,3939233,485646,12.328441
37,PA,738,522.000000,1.648456,31666.000000,12779559,815538,6.381582
38,RI,33,277.755556,2.393353,11605.288889,1053661,143788,13.646514
39,SC,622,250.000000,3.065980,8154.000000,4777576,254092,5.318429
40,SD,50,15.000000,1.308901,1146.000000,843190,27914,3.310523
41,TN,659,304.000000,1.635816,18584.000000,6499615,320090,4.924753
42,TX,22238,1546.000000,3.106539,49766.000000,26538614,10196367,38.420872
43,UT,600,196.000000,3.982930,4921.000000,2903379,389856,13.427665
44,VA,915,536.000000,2.270128,23611.000000,8256630,709156,8.588928
45,VT,5,277.755556,2.393353,11605.288889,626604,10691,1.706181
46,WA,809,332.000000,4.647907,7143.000000,6985464,835488,11.960379
47,WI,238,159.000000,2.027544,7842.000000,5742117,364558,6.348843
48,WV,111,18.000000,0.427960,4206.000000,1851420,25408,1.372352
49,WY,64,4.000000,0.773694,517.000000,579679,55698,9.608421